<div class="jcarousel-wrapper">
    <div class="jcarousel" data-jcarousel="true">
        <ul style="left: 0px; top: 0px;">
            <li><img src="../../images/img1.jpg" width="600" height="400" alt=""></li>
            <li><img src="../../images/img2.jpg" width="600" height="400" alt=""></li>
            <li><img src="../../images/img3.jpg" width="600" height="400" alt=""></li>
            <li><img src="../../images/img4.jpg" width="600" height="400" alt=""></li>

        </ul>
    </div>

    <p class="photo-credits">
        Photos by <a href="http://www.mw-fotografie.de">Marc Wiegelmann</a>
    </p>

    <a href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">‹</a>
    <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>

    <p class="jcarousel-pagination" data-jcarouselpagination="true"><a href="#1" class="active">1</a><a href="#2">2</a><a href="#3">3</a><a href="#4">4</a><a href="#5">5</a><a href="#6">6</a></p>
</div>
